@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
body{
  padding-top: 80px;
  text-align: left !important;
}
.card{
  /* height: 300px; */
  margin-left: 3vw;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.hof{
  text-align: center;
}
.hofimg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card-text{
  font-size: 18px;
}
.rating{
  font-size: 21px;
}
#rating,#rating1{
  font-size: 25px;
}
.down{
  text-align: left;
  margin-top: -20px;
  margin-left: 22px;
}