@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
body{
  padding-top: 80px;
  text-align: left !important;
}
.card{
  /* height: 300px; */
  margin-left: 3vw;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
}